<configuration>
  <system.webServer>

    <iisnode
      watchedFiles="web.config;*.js;routes\*.js;views\*.jade"
      loggingEnabled="true"
      devErrorsEnabled="true"
    />

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
                <rule name="SocketIO" patternSyntax="ECMAScript">
                    <match url="socket.io.+" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.js" />
                </rule>
                <rule name="CatchAll">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.js" />
                </rule>
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^index.js\/debug[\/]?" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                </rule>
        <!-- Don't interfere with requests for node-inspector debugging -->
        
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <directoryBrowse enabled="false" /> 
  </system.webServer>
</configuration>
